.Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 350px;
  height: 50x;
  border: 1px solid #ede76f;
  border-radius: 2px;
  padding: 10px;
  background-color: rgb(77, 14, 77);
}

.Item p {
  margin: 10px;
  font-family: 'fantasy';
  font-size: 18px;
}

.Item button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 2px;
  outline: none;
}
